/* COMMON */
html {
    font-family: 'Nanum Gothic','Noto Sans KR','Nanum Gothic Coding', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

clearfix {
    clear : both;
    position: relative;
}


.body__container{
    background: #409dad;
    background-size: cover;
    position: fixed;
    min-width: 100%;
    height: 100%;

    font-size : 16px;
    font-weight: 400;
    color : #333;
}

.bg__container {
    background: url(../images/bg-deco00.png) no-repeat;
    background-position: bottom left;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding-bottom: 5%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.bg__container::before{
    background: url(../images/bg-deco2.png) no-repeat;
    position: absolute;
    content: "";
}



/* HEADER */

header.section{
    margin-top: 10px;
}

.logo{
    max-width : 30px;
    margin-top: 40px;
    margin-left: 40px;
    
}
.logo:hover{
    opacity: 30%;
}

/* VISUAL */

.section.section--visual{
    margin : 10px 0;
}

.section.container{
    margin-top: 20vh;
}

.container .sub-title{
    font-size: 16px;
    margin-bottom: 1.5rem;
    text-align: center;
    color: rgb(250, 253, 255);
    text-shadow: 0 1px 9px rgb(14, 235, 235);
}
.page-title {
    font-size: 4.5rem;
    font-family: 'Fugaz One', cursive;
    color: rgb(250, 253, 255);
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 0 1px 20px rgb(14, 235, 235);
    mix-blend-mode: overlay;
}

.page-title:hover{
    text-shadow: 0 2px 30px rgb(9, 247, 255),0 1px 5px rgba(9, 247, 255,0.4);
    
}


.btn-group{
    position: relative;
    margin-top: 8vh;
}
.btn-align{
    text-align: center;
    padding: 5px 0;
}

.btn--primary {
    background-color: rgba(255, 255, 255, 0);
    border : 1.5px dashed rgba(255,255,255,.8);
    border-radius: 20px;
    padding: 10px 30px;
    color: rgba(255,255,255,.9);
    text-align: center;
    font-size: 15px;
    font-weight: 700;
}

.btn--primary:hover{
    background-color: rgba(255, 255, 255, 0.3);
    
}

.btn--text{
    color: rgba(255,255,255);
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    margin-top: 24px;
}
.btn--text:hover{
    color: rgba(255,255,255,0.5);
    transform: scale(1.1);
}

/* FOOTER */

.footer.container{
    position: relative;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-bottom: 5px;
    position: fixed;

}

.copy-right{
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
    font-size: 11px;
    bottom: 0;
    left : 25%;
    right:25%;
    margin-bottom: 2%;

}


/* MEDIA */

@media screen and (max-width : 1024px){

    .section.container{
        margin-top: 18vh;
    }
    
    .container .sub-title{
        font-size: 16px;
    }

    .page-title{
        font-size: 70px;
    }

    .btn-group{
        margin-top: 10vh;
    }
    footer.container{
        height: 30%;
    }

    .copy-right{
        left : 0;
        right: 0;
        margin-bottom: 50px;
    }
  
}


@media screen and (max-width : 700px){

    .section.container{
        margin-top: 20vh;
    }
    
    .container .sub-title{
        font-size: 14px;
        margin-bottom: 13px;
    }

    .page-title{
        font-size: 57px;
    }
    

    .btn-group{
        margin-top: 10vh;
    }
    .btn--text{
        margin-top: 3vh;
    }


    footer.container{
        height: 20px;
    }

    .copy-right{
        left : 0;
        right: 0;
        margin-bottom: 20px;
    }

}


@media screen and (max-width : 450px){

    .section.container{
        margin-top: 23vh;
    }
    
    .container .sub-title{
        font-size: 14px;
        margin-bottom: 15px;
    }

    .btn--text{
        font-size: 12px;
        margin-top: 26px;
    }

    .page-title{
        font-size: 50px;
    }

    .btn-group{
        margin-top: 10vh;
    }


    footer.container{
        height: 30%;
    }

    .copy-right{
        left : 0;
        right: 0;
        margin-bottom: 20px;
    }

}

@media screen and (max-width : 320px){

    .section.container{
        margin-top: 20vh;
    }
    
    .container .sub-title{
        font-size: 12px;
        margin-bottom: 14px;
    }

    .page-title{
        font-size: 40px;
    }


    .btn--text{
        font-size: 10px;
        margin-top: 3.5vh;
    }

    .btn-group{
        margin-top: 8vh;
    }

    .btn--primary{
        padding: 8px 20px;
        font-size: 12px;
    }


    footer.container{
        height: 30%;
    }

    .copy-right{
        left : 0;
        right: 0;
        margin-bottom: 20px;
    }


}
