/* common css */

.bundle {
    margin-bottom: 25px;
}

/* content css */

#content-wrapper {
    background: #f8f9fa;
    padding: 0px 40px 10px 40px;
    z-index: 1;
}

/* card css */

.card {
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(57, 98, 254, 0.02), 0 3px 6px rgba(111, 109, 143, 0.23);
}

#content-wrapper .bundle {
    padding-top: 24px;
}

#content-wrapper .page-header {
    margin: 24px;
    padding: 0px 15px;
    font-size: 28px;
    margin: 0px;
}

#content-wrapper .table {
    background: white;
    margin-top: 24px;
    text-align: left;
    
}

.table th {
    width: 180px;
    height: 60px;
    border: 1px solid #dee2e6;
    vertical-align: middle;
    background: #f8f9fa;
}

.table td {
    vertical-align: middle;
    border: 1px solid #dee2e6;
}
