/* COMMON */

a{
    text-decoration: none;
}

body{
    background: #409dad;
    cursor: url(../images/vw-cursor.png), url(../images/vw-cursor.cur), auto; 
}

.body__container{
    font-family: 'Nanum Gothic','Noto Sans KR','Nanum Gothic Coding', Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    font-size : 16px;
    font-weight: 400;
    color : rgb(69, 78, 117);
    position: absolute;
    background: #409dad;
    z-index: 1;
}
.body__container::before{
    background: url(../images/bg-deco00.png) no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    background-position: bottom left;
    content: '';
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

/* ANIMATION */

.fadeinout{
    animation: fadeinout 1s;
    -webkit-animation: fadeinout 1s;
    -moz-animation: fadeinout 1s;
    -o-animation: fadeinout 1s;
    
}

@-webkit-keyframes fadeinout {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-moz-keyframes fadeinout {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@-o-keyframes fadeinout {
    0% {
        opacity:0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

/*HEADER */

.header{
    background-color: rgb(243, 243, 243);
    position: fixed;
    width: 100%;
    height: 60px;
    z-index: 999;
}
.header__container{
    width : 100%;
    display: flex;
}

.logo__container{
    width:50px;
    height: 30px;
    display: inline-block;
    align-self: center;
    margin-left: 3vw;
}

.logo__container:hover{
    filter: grayscale(80%);
}

.header__menu-group{
    margin : 1.3rem 2rem;
    width: 100%;
}
.header__menu{
    display: flex;
    flex-direction: row-reverse;
}

#toggle-btn{
    display: none;
}

.menu-item{
    font-size: 18px;
    font-weight: 600;
    color: #494e58;
    margin-left: 2vw;   
}

.menu:hover{
    color: rgb(7, 153, 182);
}

#log-inout{
    padding : 5px 10px;
    border-radius: 1rem;
    border: 2px solid rgb(7, 153, 182);
    color: rgb(7, 153, 182);
    transition: .5s;
    order: -1;
}

#log-inout:hover{
    background-color: rgb(7, 153, 182);
    color: #fff;
    transform: rotate(1.1);
}


/*SECTION*/

.content--main__mobile{
    display: none;
}

.text__container {
    max-width: 900px;
    margin: 0 auto;
}
.content__title{
    display: block;
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;;
}

.content__p{
    display: block;
    margin: 60px 0 40px 0px;
    color: rgb(223, 223, 223);
    line-height: 25px;
    font-weight: bold;
    text-indent: 15px;
}

.content__container{
    max-width: 900px;
    margin : 0 auto;
}

.content{
    background-color: rgb(252, 252, 252);
    padding: 2rem 1.5rem;
    box-shadow: 0 8px 17px rgba(104, 102, 102, 0.479);
    border-radius: 1rem;
    margin : 10px auto 40px;
    width : 100%;
    min-height : 500px;

}

/* TAB */

.content--tabs{
}
.tabs__nav{

}

.tabs__list{
    display: flex;
    justify-content: space-around;
    z-index: 10;
    border-radius: 1rem;
    position: relative;
}
.tabs__list::before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 5px;
    height : 4rem;
    width: 100%;
    border-radius: inherit;
}

.tabs__item{
    margin: 5px;
    padding: 10px;
    text-align: center;
    align-self: center;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 10;
    font-weight: 600;

    transition: .5s;
}

.tabs__item:hover{
    color: rgb(30, 94, 107);
}

.tabs__item.current{
    background-image: linear-gradient(145deg,rgb(54, 201, 181), rgb(66, 104, 228));
    box-shadow: 0 2px 1px rgba(139, 134, 189, 0.432);
    border-radius: .7rem;
    color: #fff;
    position: relative;
    transform: scale(1.2);

}

/* SECTION */


.card-content{
    display: none;

}

.card-content.current{
    display: inherit;
    margin: 50px;
}


/* 페이지 */


.content--title{
    font-size: 1.5rem;
    text-align: center;
    margin : 50px auto 15px auto;
    border-radius: 20px;
    font-weight: 600;
    background-color: #ececec;
    width: 50%;
    color: rgb(77, 86, 94);
    padding: 5px;

}

.table-information{
    border : 2px solid rgb(69, 78, 117);
    margin: 0 auto 20px;
}


.tdth{
    border: 1px solid;
    padding: 10px;

}

.th{
    font-weight: 600;
    background-color : rgb(77, 86, 94);
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.td{
    background-color : #fff;
    text-align: center;
}

.td:hover{
    background-color: #82838d23;
}


/* FOOTER */
.footer {
    background-color: transparent;
    width: 100%;
    height: 30px;
    position: relative;
}

.footer .container {
    height: 50%;
    padding: 30px 0;
}

.copy-right {
    color: rgba(255, 255, 255, 0.425);
    text-align: center;
    font-size: 13px;
    position: absolute;
    left: 20%;
    right: 20%;
    vertical-align: middle;
}


/* MEDIA */

@media screen and (max-width : 1024px){

    .content{
        background-color: rgb(252, 252, 252);
        box-shadow: 0 8px 17px rgba(104, 102, 102, 0.479);
        border-radius: 1rem;
        margin : 10px auto 40px;
        width : 90%;
        min-height : 500px;
    }


}


@media screen and (max-width : 700px){

    
    .body__container{
        width: 100%;
    }

    header.header{
        background-color: #f8f8f8;
        position: fixed;
        top : 0;
        left : 0;
        width: 100%;
        height: auto;

    }

    header .toggle-menu {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        line-height: 50px;
        margin-top: 30px;
    }

    .header__menu li{
        border-top: 1px solid #d6d6d66e;
    }

    #log-inout{
        margin-top : 10px;
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    #log-inout:hover{
        background-color: transparent;
        color: #5f8991;
    }

    #toggle-btn{
        background-image: url("../images/menu-toggle.svg");
        width : 25px;
        height : 24px;
        position: absolute;
        right: 20px;
        top : 10px;
        cursor: pointer;
        text-indent: -9999px;
        display: block;
    }

    .logo__container{
        width: 0;
        margin: 0;
    }

    .logo{
        width: 25px;
        position: absolute;
        top : 12px;
        margin-left: 15px;
    }

    .header__container{

        position: relative;
        padding-bottom: 10px;
    }

    .header__menu {
        display: none;
    }
    
    .header__menu-group.toggle{
        display: none;
    }

    .header__menu-group.toggle.on{
        display: block;
    }


    .header__menu{
        display: block;
    }



    /* 데스크탑 */
    .content__container {
        max-width: 100%;
    }

    .content{
        background-color: rgb(252, 252, 252);
        padding: 2rem 1.5rem;
        box-shadow: 0 8px 17px rgba(104, 102, 102, 0.479);
        border-radius: 1rem;
        margin : 0 auto;
        width : 80%;
        min-height : 500px;
        display: none;
    
    }

    .content__p{
        font-size: 12px;
        line-height: 18px;
        padding: 0 20px;
    }

    /* 모바일 부분 */
    .content--main__mobile{
        background-color: #f8f8f8;
        width : 90vw;
        margin : 0 auto;
        height: 300px;
        padding-top : 20px;
        border-radius: 20px;
        display: block;
        box-shadow: 0 5px 5px rgba(62, 68, 95, 0.26);
    }

    /* footer */

    .footer .copy-right{
        font-size: 10px;
        left : 0;
        right: 0;
    }



}


@media screen and (max-width : 450px){

    .body__container{
        width: 100%;
    }

    header.header{
        background-color: #f8f8f8;
        position: fixed;
        top : 0;
        left : 0;
        width: 100%;
        height: auto;

    }

    header .toggle-menu {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        line-height: 50px;
        margin-top: 30px;
    }

    .header__menu li{
        border-top: 1px solid #d6d6d66e;
    }

    #log-inout{
        margin-top : 10px;
        padding: 0;
        border: 0;
        border-radius: 0;
    }
    #log-inout:hover{
        background-color: transparent;
        color: #5f8991;
    }

    #toggle-btn{
        background-image: url("../images/menu-toggle.svg");
        width : 25px;
        height : 24px;
        position: absolute;
        right: 20px;
        top : 10px;
        cursor: pointer;
        text-indent: -9999px;
        display: block;
    }

    .logo__container{
        width: 0;
        margin: 0;
    }

    .logo{
        width: 25px;
        position: absolute;
        top : 12px;
        margin-left: 15px;
    }

    .header__container{

        position: relative;
        padding-bottom: 10px;
    }

    .header__menu {
        display: none;
    }
    
    .header__menu-group.toggle{
        display: none;
    }

    .header__menu-group.toggle.on{
        display: block;
    }


    .header__menu{
        display: block;
    }



    /* 데스크탑 */
    .content__container {
        max-width: 100%;
    }

    .content{
        background-color: rgb(252, 252, 252);
        padding: 2rem 1.5rem;
        box-shadow: 0 8px 17px rgba(104, 102, 102, 0.479);
        border-radius: 1rem;
        margin : 0 auto;
        width : 80%;
        min-height : 500px;
        display: none;
    
    }

    .content__p{
        font-size: 12px;
        line-height: 18px;
        padding: 0 20px;
    }

    /* 모바일 부분 */
    .content--main__mobile{
        background-color: #f8f8f8;
        width : 90vw;
        margin : 0 auto;
        height: 300px;
        padding-top : 20px;
        border-radius: 20px;
        display: block;
        box-shadow: 0 5px 5px rgba(62, 68, 95, 0.26);
    }

    /* footer */

    .footer .copy-right{
        font-size: 10px;
        left : 0;
        right: 0;
    }


}

@media screen and (max-width : 320px){



}

